/* Coolors Exported Palette - https://coolors.co/211814-859095-61492d-a3a3a5-304353 */

/* CSS HEX */
--licorice: #211814ff;
--battleship-gray: #859095ff;
--coffee: #61492Dff;
--cadet-gray: #A3A3A5ff;
--charcoal: #304353ff;

/* CSS HSL */
--licorice: hsla(18, 25%, 10%, 1);
--battleship-gray: hsla(199, 7%, 55%, 1);
--coffee: hsla(32, 37%, 28%, 1);
--cadet-gray: hsla(240, 1%, 64%, 1);
--charcoal: hsla(207, 27%, 26%, 1);

/* SCSS HEX */
$licorice: #211814ff;
$battleship-gray: #859095ff;
$coffee: #61492Dff;
$cadet-gray: #A3A3A5ff;
$charcoal: #304353ff;

/* SCSS HSL */
$licorice: hsla(18, 25%, 10%, 1);
$battleship-gray: hsla(199, 7%, 55%, 1);
$coffee: hsla(32, 37%, 28%, 1);
$cadet-gray: hsla(240, 1%, 64%, 1);
$charcoal: hsla(207, 27%, 26%, 1);

/* SCSS RGB */
$licorice: rgba(33, 24, 20, 1);
$battleship-gray: rgba(133, 144, 149, 1);
$coffee: rgba(97, 73, 45, 1);
$cadet-gray: rgba(163, 163, 165, 1);
$charcoal: rgba(48, 67, 83, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #211814ff, #859095ff, #61492Dff, #A3A3A5ff, #304353ff);
$gradient-right: linear-gradient(90deg, #211814ff, #859095ff, #61492Dff, #A3A3A5ff, #304353ff);
$gradient-bottom: linear-gradient(180deg, #211814ff, #859095ff, #61492Dff, #A3A3A5ff, #304353ff);
$gradient-left: linear-gradient(270deg, #211814ff, #859095ff, #61492Dff, #A3A3A5ff, #304353ff);
$gradient-top-right: linear-gradient(45deg, #211814ff, #859095ff, #61492Dff, #A3A3A5ff, #304353ff);
$gradient-bottom-right: linear-gradient(135deg, #211814ff, #859095ff, #61492Dff, #A3A3A5ff, #304353ff);
$gradient-top-left: linear-gradient(225deg, #211814ff, #859095ff, #61492Dff, #A3A3A5ff, #304353ff);
$gradient-bottom-left: linear-gradient(315deg, #211814ff, #859095ff, #61492Dff, #A3A3A5ff, #304353ff);
$gradient-radial: radial-gradient(#211814ff, #859095ff, #61492Dff, #A3A3A5ff, #304353ff);